<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
<div class="container">
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <!--        用户名-->
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userName" id="userName" placeholder="userName">
            </div>
        </div>
        <!--        密码-->
        <div class="form-group">
            <label for="passWord" class="col-sm-2 control-label">passWord</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="passWord" id="passWord" placeholder="Password">
            </div>
        </div>

        <!--        提示错误信息-->
        <div class="form-group">
            <label   class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div th:if="${errorMsg != null}"  class="alert alert-danger" role="alert" th:text="${errorMsg}">
                </div>
            </div>
        </div>
        <!--        按钮-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/list}" class="btn btn-info">Back</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>